@font-face {
    font-family: "LovedbytheKing";
    src: url("LovedbytheKing-Regular.woff");
  
  }
@font-face {
    font-family: "LiuJian";
    src: url("LiuJianMaoCao-Regular.woff");
}
body{
    background-color: black;
    margin: 0; /*브라우저는 기본으로 마진을 8px 씩 줌 */
    color: white;
   
}

header{
    
    display: inline-block; /*inline으로 옆에 요소가 올 수 있게 하면서 한 줄을 갖는 Block */
    font-family: "LiuJian";
    color: white;
    font-size: 30px;
    margin-left: 150px; 


}
nav{
    height: 60px; 
    background-color: gray;
    display: flex;
    margin-bottom: 10px;
    margin-top:0; 
    width:100%; 
    
    
}

nav ul{
    padding:0; 
    flex:1; /*flex:# 이게 형제 요소들과 나눠가지는 공간을 표현함*/
    display: inline-flex; /*ul을 가로로 나누고 !!!!*/
    list-style: none;           /* 리스트 앞에 기호 x */
    height: 100%;
    
}

nav li{
    display: inline;
    text-align: center;  /*li 안에 있는 내용(text)가 중앙정렬!!!!*/
    flex:1;  /*리스트들이 동일한 비율로 ul 내부를 차지하게됨 !!*/
}
nav a{
    display: inline-block;
    color: white;
    font-size: 24px;
    font-family: 'LovedbytheKing';
    text-decoration-line: none;
    height:100%; 
    
   
}
nav a:hover{
    color: black; 
}

main{
    display: flex; /*요소들의 위치를 align-items/margin:auto 등등으로 조절 가능 */
    /*display:block: 요소가 한 줄을 다 차지해버림  */
    flex-direction: column; /*요소를 아래로 배치 */
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: LovedbytheKing;
    align-items: center;
}
main div#narr p{ /*tag 연습하려고 나눔 */
    
    display: block; 
    font-size: 24px;
    margin: 15px;
}

main div{
    display: block; 
    margin:0 auto; /*위아래만 마진 0으로 하고 양옆은 auto */
}


footer div{
    height:100px; 
    display:inline-block;
    background-color: gray;
    margin-bottom: 0px;
    font-size: 24px;
    font-family:LovedbytheKing;
    width:100%; 
    text-align: center;
 
}
footer a{
    text-decoration-line: none;
    color:white; 
}
footer a:hover{
    color:black; 
}
footer p{
    margin: 0;
}